:root{
  --background-color: #fff;
  --primary:#4f3acf;
  --secundary:#0c2026;
  --text:#5f5f5f;
  --border:#b8b8b8;
  --link:#333;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button{
    font-family: 'inter', sans-serif;
}
h1{ 
   
}